<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>store</display-name>
  <filter>
    <filter-name>CharsetFilter</filter-name>
    <filter-class>com.shiber.charsetfilter.CharFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharsetFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerController</display-name>
    <servlet-name>ManagerController</servlet-name>
    <servlet-class>com.shiber.controller.ManagerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerController</servlet-name>
    <url-pattern>/manager/ManagerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploaderController</display-name>
    <servlet-name>UploaderController</servlet-name>
    <servlet-class>com.shiber.controller.UploaderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploaderController</servlet-name>
    <url-pattern>/manager/UploaderController</url-pattern>
  </servlet-mapping>
</web-app>